.heart {
    width: 600px;
    height: 600px;
    position: absolute;
    top: 12%;
    left: 22%;
    animation: heartbeat 1s infinite linear;
}

.heart::before,
.heart::after {
    content: '';
    width: 400px;
    height: 640px;
    background-color: rgb(121, 0, 177);
    border-radius: 400px 400px 0 0;
    position: absolute;
    top: 0;
}

.heart::before {
    left: 400px;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}

.heart::after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}

@keyframes heartbeat {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.registration-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(255, 0, 221, 0);
    padding: 200px;
    border-radius: 10px;
}

.registration-form input[type="text"],
.registration-form input[type="password"],
.registration-form button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 15px;
    width: 200px;
    border: 2px solid #ffffff;
    border-radius: 10px;
    box-sizing: border-box;
}

.registration-form button {
    background-color: #292929;
    color: white;
    cursor: pointer;
}

.registration-form button:hover {
    background-color: #292929;
}
.wrapper{
    background-color: #f31515;
}
.bxs-user{
    position: absolute;
    top: 42%;
    left: 67%;
}
.bxs-lock-alt{
    position: absolute;
    top: 51%;
    left: 67%;
}
.button-a{
    text-decoration: none;
    color: white;
}

